<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [36]:
# write your answer here
my_string ="Divya"
y=len(my_string)
print("The length of the string:",y)

# Calculating the length of string using for loop
def length_of_string(mystring):
  counter=0
  for i in mystring:
    counter+=1
  return counter
mystring="Divya"
a= length_of_string(mystring)
print("The length of the string:",a)

The length of the string: 5
The length of the string: 5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [38]:
# write your answer here
# using for loop to count the number of characters in a string
# initializing the string

sample_string="google.com"
char_count={}
for i in sample_string:
  if i in char_count:
    char_count[i]+=1
  else:
    char_count[i]=1
print("Count of the number of characters in a string:" +str(char_count))

Count of the number of characters in a string:{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [39]:
# write your answer here

#  using 'sum' function to add all items in the list
my_list=[1,2,3,4,5,6]
y=sum(my_list)
print("The sum of items in a list:",y)

# I am also using for to sum a list
def list(items):
  num=0
  for y in items:
    num+=y
  return num
z=list([1,2,3,4,5,6])
print("The sum of items in a list:",z)

The sum of items in a list: 21
The sum of items in a list: 21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [40]:
# write your answer here
# I am using replace function 
def my_char(my_string):
  char= my_string[0]
  my_string1=my_string.replace(char,'$')
  my_string1=char+ my_string1[1:]
  return my_string1
z=my_char('restart')
print("Final result:",z)

Final result: resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [41]:
# write your answer here
z=input("Enter the value for a")
m=input("Enter the value of b")
S= 3.14*(1+a/b)**3
print("The output result for S:",S)

Enter the value for aa3
Enter the value of bb4
The output result for S: 7.4429629629629614

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [42]:
# write your answer here
#defining a function to define all dictioneries and arrange them into a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for dictionary in (dic1,dic2,dic3):
  dic4.update(dictionary)
print("The concatenated dictionary result:", dic4)

The concatenated dictionary result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [43]:
# write your answer here
#defining a function to check existance of element in tupule
my_tuple = ("Divya", "Sirugudi")
if "Prathima" in my_tuple:
  print("Yes, 'Divya' is in the tuple list")
else:
  print("Divya is not in the tuple list")

# Other way is by simply initializing tuple and using in to find if it exists
my_tuple= ("Divya", "Sirugudi")
print("Divya" in my_tuple)

Divya is not in the tuple list
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [44]:
# write your answer here
# Initializing set
my_set=set([15,16,17,18,19,20])
a=max(my_set)
b=min(my_set)
print("The maximum value in a set is:",a)
print("The minimum value in a set is:",b)

The maximum value in a set is: 20
The minimum value in a set is: 15

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [45]:
# write your answer here
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141',
                'jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
import random
# defining function to divide students in to groups 
def select_random_Ns(student_list, n):
    random.shuffle(student_list)
    result = []
    for i in range(2, len(student_list), n):
        result.append(student_list[i:i + n])
    return result
        
        
#Calling function to divide students randomly in to groups
print(select_random_Ns(student_list, 6))

[['kg0470', 'ak0956', 'sm1640', 'vm0377', 'fh0141', 'sk1458'], ['pr0353', 'sb1357', 'nm0618', 'sk1313', 'gn0108', 'sm1907'], ['ja0964', 'jl1252', 'kg0569', 'sk1386', 'ds0814', 'sk1390'], ['sa1198', 'dr0609', 'sc1229', 'ms1500', 'bg0320', 'sg1297'], ['aos0040', 'nv0234', 'vb0218', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [53]:
# write your answer here

def findfirstduplicate(nums):
    numset = set()
    noduplicate = -1

    for i in range(len(nums)):

        if nums[i] in numset:
            return nums[i]
        else:
            numset.add(nums[i])

    return noduplicate

print(findfirstduplicate([1, 2, 3, 4, 4, 5]))
print(findfirstduplicate([1, 2, 3, 4]))
print(findfirstduplicate([1, 1, 2, 3, 3, 2, 2]))

4
-1
1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [34]:
# write your answer here
from datetime import date, timedelta

#defining function to print sundays 
def print_sundays(year):
       dt = date(year, 1, 1)
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
 #calling function to print sundays                   
for s in print_sundays(2021):
   print(s)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26