<a href="https://colab.research.google.com/github/DivyaBenerjee/In_class_exercise_01-1.ipynb.divya/blob/main/INFO5731_Assignment_One_(1)_ipynb__Divya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [17]:
# I am writing the code to generate 12 random numbers from 1-100
# I am using built-in module'random' that can be used to generate random numbers
# For this I am importing the module

# I have used 'randint' function in random modules to retunr the random number of the given range

import random
import numpy as np
#I have used seed(), methos in python random module which intialises random genetor useful to reproduce the data. By resuing the seed value we can get the same data.
np.random.seed(52)

# I have created an empty list where i can append all generated random numbers to this list
my_list=[]

#used for loop 
for i in range(1,13):
  x=random.randint(1,100)
  my_list.append(x)

print("Generating Random Numbers between 1 and 100:\n", my_list)
print("\n")


# The function sorted() returns a sorted list of speicfied iterable object.
# we can aslo specify ascending or descending order. 

# Ascending order
a=sorted(my_list)
print("The list of Numbers in Ascending Order:\n", a)
print("\n")

#Descending order
b=sorted(my_list, reverse=True)
print("The list of Numbers in Descending Order:\n" , b)
print("\n")

# Calculating average of the group:
 
#I used Numpy library which is used commonly to work on large multi dimensional arrays.
# the mean() function will give us the average for the list given.
# we can also use built-in-functions like sum() and len() to find avg=sum()/len()

from numpy import mean
Average_of_group=mean(my_list)
print("The average of the group is:", round(Average_of_group,2))

Generating Random Numbers between 1 and 100:
 [68, 41, 98, 65, 79, 1, 33, 76, 92, 9, 19, 49]


The list of Numbers in Ascending Order:
 [1, 9, 19, 33, 41, 49, 65, 68, 76, 79, 92, 98]


The list of Numbers in Descending Order:
 [98, 92, 79, 76, 68, 65, 49, 41, 33, 19, 9, 1]


The average of the group is: 52.5

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [18]:
# Question 2-1:
# used 'input' function to allow user to give input.
first_sentence=input("Enter the first sentence:\n ")
second_sentence=input("Enter the second sentence:\n ")

#Question2-2:
# I used 'findall()'frunction from 're' module, it finds all the matches
#and returns them as a list of strings with each string representing one match

import re
reg_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
sen1=re.findall(reg_exp,first_sentence)
sen2=re.findall(reg_exp,second_sentence)
final_list=sen1+sen2
print("The list where each element correspond to a word in the sentence:")
print(final_list)

Enter the first sentence:
 I am a Data Science student
Enter the second sentence:
  I am from India
The list where each element correspond to a word in the sentence:
['I', 'am', 'a', 'Data', 'Science', 'student', 'I', 'am', 'from', 'India']

In [19]:
 #Question2-3:

print("The list of words that occur in both sentences are:")
for ch in sen1:
  for ch2 in sen2:
    if ch==ch2:
      print(ch)

The list of words that occur in both sentences are:
I
am

In [20]:
#Question2-4:
# to Removing Punctuations
# to Define punctuation
punctuation_list=[':',';',',','.','!','$','@','#','%']
no_punctuation=""
for abc in final_list:
  if abc not in punctuation_list:
    no_punctuation=no_punctuation + abc

print(no_punctuation)

IamaDataSciencestudentIamfromIndia

In [22]:
# Question2-5:
# To Count number of vowels. I am first made them in lower case and then checked for vowels.
#instead of changing into lower case we can also check for vowels as "aeiouAEIOU"
first_sentence=first_sentence.lower()
second_sentence=second_sentence.lower()
vowel_counts = {}

for i in "aeiou":
  count=first_sentence.count(i)
  count1=second_sentence.count(i)
  vowel_counts[i]=count+count1

In [7]:
print("The number of times vowel appears in each sentences:")
vowel_counts

The number of times vowel appears in each sentences:

{'a': 6, 'e': 3, 'i': 5, 'o': 1, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [8]:
#Calculating the Volume of a sphere for Radius in range 1-10
#I can give 'pi' value or i can import 'pi' function from the module 'math'

from math import pi
print("The volume 'V' of a sphere with radius 'r' in the range 1-10:\n")
print("r\t\tV")

# It was given in the question to calculate Volume for radius in range 1-10
# hence, i am using 'for' loop to do this.Since i was given a specific range i used'range' function

for r in range(1,11):
  V=(4/3)*pi*r**3
  print(r," ",V)

The volume 'V' of a sphere with radius 'r' in the range 1-10:

r		V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [31]:
# Question 4-1:
#Firstly, I  am reading the csv file.

import pandas as pdcsv
my_dataframe=pd.read_csv("/content/sample_data/Assignment1_denton_housing.csv",index_col="year")

In [23]:
my_dataframe.sort_index(axis=0,ascending=True,inplace=True)
my_dataframe2=my_dataframe[my_dataframe.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
my_dataframe2=my_dataframe2.reset_index()

#Calculating the difference in the number of Occupied Housing Units for the consecutive years.
abc1=my_dataframe2[["year","value"]].values

#Finding the difference in number of occupied housing units
list_new=[]
for i in range(len(abc1)-1):
  list_new.append(abc1[i+1][1]-abc1[i][1])
list_new

#Printing the 'difference' value for consecutive years
print("Consecutive_years\tDifference_value")
for i in range(2008,2014):
  print(i,"-",i+1,"           ",list_new[i-2008])

print("\n")

#Printing the ascending order

data_2 = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
B = pd.DataFrame(data_2, columns = ['Consecutive_years',  'Difference_value'])
sort_by_diff = B.sort_values('Difference_value') 

print(" Ascending order of the difference value for consecutive years is:\n")

print(sort_by_diff)

Consecutive_years	Difference_value
2008 - 2009             -795
2009 - 2010             5091
2010 - 2011             -303
2011 - 2012             1404
2012 - 2013             1565
2013 - 2014             2622


 Ascending order of the difference value for consecutive years is:

  Consecutive_years  Difference_value
0         2008-2009              -795
2         2010-2011              -303
3         2011-2012              1404
4         2012-2013              1565
5         2013-2014              2622
1         2009-2010              5091

In [34]:
#Question 4-2:
my_dataframe.reset_index(inplace=True)
occupied_list=[]
vacant_list=[]

#Finding the number of vacant and occupied housing units
for i in range(2008,2015):
  occupied_list.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Occupied Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))
  vacant_list.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Vacant Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))

#Printing the percentage of housing units which are vacant and occupied
print("Years\tVacant Housing Units\t Occupied Housing Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(vacant_list[i-2008][0]*100),"\t\t","{0:.0f}%".format(occupied_list[i-2008][0]*100))

Years	Vacant Housing Units	 Occupied Housing Units
2008 		 11% 		 89%
2009 		 9% 		 91%
2010 		 8% 		 92%
2011 		 9% 		 91%
2012 		 7% 		 93%
2013 		 9% 		 91%
2014 		 6% 		 94%

In [35]:
#Question 4-3:

new_list=[]
new_list1=[]

for i in range(2008,2015):
  new_list.append(occupied_list[i-2008][0])
  new_list1.append(vacant_list[i-2008][0])

print("\t\t\t Year\t Value")

for i in enumerate(occupied_list,start=2008):
  if(i[1][0]==max(new_list)):
    print("Occupied Housing Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant_list,start=2008):
  if(i[1][0]==max(new_list1)):
    print("Vacant Housing Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 Year	 Value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [36]:
#Question 4-4:
# To Calculate the harmonic mean of the total housing units and printing it out.
# Harmonic mean is reciprocal of arithmetic mean
#It is the number of observations, divided by the sum of reciprocals of the observations. 


from scipy import stats

my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values

array([49109, 47888, 45121, 44917, 44642, 39499, 41194])

In [15]:
print("The harmonic mean of the total housing units:\n")
stats.hmean(my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values)

The harmonic mean of the total housing units:

44398.28543969185